#template: "mysql://$USER:$MYSQL_PASSWORD@container_name:3306/$MYSQL_DATABASE"
DATABASE_URL=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
JWT_SECRET=
#preferably http://127.0.0.1
URL=
